altgraph==0.17
astroid==2.3.3
colorama==0.4.3
future==0.18.2
iso8601==0.1.12
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pefile==2019.4.18
PyInstaller==3.6
pylint==2.4.4
pyserial==3.4
PySimpleGUI==4.19.0
pythoncrc==1.21
pywin32-ctypes==0.2.0
PyYAML==5.3.1
six==1.13.0
virtualenv==16.7.9
wrapt==1.11.2
