/packtBookRTOS/Chapters5_6/.settings/com.atollic.truestudio.debug.hardware_device.prefs
/packtBookRTOS/Chapters5_6/.settings/language.settings.xml
/packtBookRTOS/Chapters5_6/.settings/org.eclipse.cdt.codan.core.prefs
/packtBookRTOS/Chapters5_6/.settings/org.eclipse.cdt.managedbuilder.core.prefs
/packtBookRTOS/Chapters5_6/freeRTOS_Nucleo767.elf.launch
/packtBookRTOS/Chapters5_6/freeRTOS_Nucleo767.ioc
/packtBookRTOS/Chapters5_6/freeRTOS_Nucleo767.jdebug.user
/packtBookRTOS/Chapters5_6.gitignore.bak
*.user
/.metadata
/TIM9Init
/Chapters5_6/*.launch
/Chapter_10/.settings
/uartConfigsCube
/Chapter_11/.code_review_properties
/Chapter_11/.mxproject
/Chapter_11/.settings/com.atollic.truestudio.debug.hardware_device.prefs
/Chapter_11/.settings/com.atollic.truestudio.tsp.prefs
/Chapter_11/.settings/language.settings.xml
/Chapter_11/.settings/org.eclipse.cdt.codan.core.prefs
/Chapter_11/.settings/org.eclipse.cdt.managedbuilder.core.prefs
/Chapter_11/.settings/org.eclipse.ltk.core.refactoring.prefs
/Chapter_12/.code_review_properties
/Chapter_12/*.mxproject
/Chapter_12/.settings/com.atollic.truestudio.debug.hardware_device.prefs
/Chapter_12/.settings/com.atollic.truestudio.tsp.prefs
/Chapter_12/.settings/language.settings.xml
/Chapter_12/.settings/org.eclipse.cdt.codan.core.prefs
/Chapter_12/.settings/org.eclipse.cdt.managedbuilder.core.prefs
/Chapter_12/.settings/org.eclipse.ltk.core.refactoring.prefs
/Chapter_13/colorSelector/.gitignore
.metadata
/Chapter_13/colorSelector
/Chapter_13/PythonColorSelectorUI/venv
