/Debug/
/Release/
/.vscode/
/TaskCreation/
/TaskCreationBuild/
/PolledVariableBuild/
/FailedStartupBuild/
/semaphoreExample/
/polledExample/
/semaphoreTimeBound/
/semaphorePriorityInversion/
/mutexExample/
/raceCondition/
/repeatTimer/
/softwareTimers/
/queueSimplePassByValue/
/queueCompositePassByValue/
/queueCompositePassByReference/
/queueLargeCompositePassByValue/
/directTaskNofications/
/uartPolled/
/uartInterrupt/
/uartInterruptBuffer/
/uartDMA/
/uartDMABuff/
/uartDMAStreamBuffer/
/uartDMAStreamBufferCont/
/uartInterruptQueue/
/rawCDC/
/VirtualCommStreamBuffer/
/VirtualCommStreamBufferMultiTask/
/usbEcho/
/USB Read Test/
/usbReadTest/
/.settings
